{
  "repos": [
  {
    "git_path": "git@github.com:rhoiberg/common.git",
    "branch": "common_2.0",
    "base_branch": "master",
    "create_dev_branch": true,
  "taggable": true
  },
  {
    "git_path": "git@github.com:rhoiberg/gigtracks.git",
    "branch": "gigtracks_2.0",
    "base_branch": "master",
    "create_dev_branch": true,
  "taggable": true
  }
  ]
}
