{
  "repos": [
    {
      "git_path": "git@github.mobiebay.com:eBayMobile/ios_iphone_core.git",
      "branch": "iphone_3.1",
      "create_dev_branch": false,
	  "taggable": false
    },
    {
      "git_path": "git@github.mobiebay.com:eBayMobile/ios_nautilus.git",
      "branch": "nautilus_3.1",
      "create_dev_branch": false,
	  "taggable": false
    }
  ]
}
