{
  "repos": [
    {
      "git_path": "git@github.mobiebay.com:eBayMobile/ios_iphone_core.git",
      "branch": "iphone_3.2",
      "base_branch": "iphone_3.1",
      "create_dev_branch": true,
	  "taggable": true
    },
    {
      "git_path": "git@github.mobiebay.com:eBayMobile/ios_nautilus.git",
      "branch": "nautilus_3.2",
      "base_branch": "nautilus_3.1",
      "create_dev_branch": true,
	  "taggable": true
    }
  ]
}